<h1>Welcome!</h1>
<p>This is the front page of my first Rails application on Elastic Beanstalk.</p>
<p>Today is <%= time = Time.zone.now; time.strftime("%B #{time.day.ordinalize}, %Y") %>.</p>

<p>Deployed by TravisCI</p>
